body{ background-color:gray; }

#svgContainer {
    z-index: 10;
    position:absolute;
    /*background-color:silver;*/
    opacity: 1;
}

div{
    opacity: 1;
    /*float:left;*/
}
path {
    fill:   none;
    stroke: #000;
    stroke-width: 0.2em;
}

#familyTree {
    margin:0 auto;
    width: 1000%; /* TODO not good. Maybe better way to avoid div wrap.  */
}



.person {
    background-color: teal;
    width: 8em;
    height: 3em;
    float:left;
    padding: 1em;
}
.partner {
    background-color: greenyellow;
    width: 21em;
    height: 5em;
    padding:1em;
    margin-top: 5em;
    margin-left:auto;
    margin-right:auto;
}
.single {
    background-color: greenyellow;
    width: 10em;
    height: 5em;
    padding:1em;
    margin-top: 5em;
    float:left;
}
.family {
    /*background-color: antiquewhite;*/
    height:auto;
    width:auto;
    float:left;
    padding: 0 1em;
}

/* left partner */
.partner > .person {
}

/* right partner */
.partner > .person + .person {
    margin-left:1em;
}

.person.husband {
    background-color: lightskyblue;
}

.person.wife {
    background-color: pink;
}

.personDescription {
    margin: 0;
    font-family: sans-serif;
}